@import url("./global.css");

/*Start Global Rules*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
@media (max-width: 767px) {
  .container {
    padding-right: 4px;
    padding-left: 4px;
  }
}
/*End Global Rules*/
.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;

  background-color: var(--wrapper-bg);
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: auto 1fr;
  }
}

.wrapper .side {
  background-color: var(--light-dark-bg);
  padding: 10px;
  transition: width 0.3s;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  -ms-transition: width 0.3s;
  -o-transition: width 0.3s;
}
@media (max-width: 767px) {
  .wrapper .side {
    padding: 4px;
    position: relative;
    overflow: hidden;
  }
}
.wrapper .logo {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  color: var(--light-dark-txt);
}
.wrapper .logo span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-bottom: 2px solid var(--text-color);
}
.wrapper .logo span::before {
  content: "";
  background-color: #000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
  border: 5px solid #fff;
}

@media (max-width: 767px) {
  .wrapper .logo {
    padding: 0;
  }
  .wrapper .logo h3 {
    font-size: 13px;
  }
  .wrapper .logo span {
    display: none;
  }
}

.wrapper .side ul li {
  padding: 10px;
  margin-bottom: 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.wrapper .side ul li a i {
  transition: 0.15s;
  margin-right: 15px;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}
.wrapper .side ul li a {
  transition: 0.15s;
  text-decoration: none;
  color: var(--light-dark-txt);
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  -ms-transition: 0.15s;
  -o-transition: 0.15s;
}

.wrapper .side ul li a:hover,
.wrapper .side ul li a:hover i {
  color: var(--text-color);
}
@media (max-width: 767px) {
  .wrapper .side ul li span.hide-mobile {
    display: none;
  }
}
.wrapper .container nav {
  background-color: var(--light-dark-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.wrapper .container .search-btn input {
  padding: 8px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #eee;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.wrapper .container .icons ul {
  display: flex;
  align-items: center;
}
.wrapper .container .icons li:not(:last-child) {
  margin-right: 5px;
  padding: 10px;
}
.wrapper .container .icons li a {
  color: var(--light-dark-txt);
}
.wrapper .container .icons li a i {
  font-size: 20px;
}

.wrapper .container .headline {
  padding: 10px 0px;
}
.wrapper .container .headline h2 {
  color: var(--light-dark-txt);
  font-size: 30px;
}
.wrapper .container .headline h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 80px;
  margin-top: 5px;
  background: linear-gradient(to right, var(--third-color) 50%, var(--light-dark-bg) 50%);
}
.wrapper .container .widgets {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 25px;
}

@media (max-width: 767px) {
  .wrapper .container .widgets {
    grid-template-columns: 1fr;
  }
}

.wrapper .container .widget {
  background-color: var(--light-dark-bg);
  color: var(--light-dark-txt);
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/*End Side and Nav*/
